<configuration>
  <configSections>
    <!--<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <unity>
    <!--<sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />-->
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration" />
    <containers>
      <container name="container1">
        <register type="IOC.Interface.IPeople,IOC.Interface" mapTo="IOC.Service.Teacher, IOC.Service" />
        <register type="IOC.Interface.IPeople,IOC.Interface" mapTo="IOC.Service.Student, IOC.Service" name="student" />
        <register type="IOC.Interface.ILeg,IOC.Interface" mapTo="IOC.Service.Leg, IOC.Service" />
        <register type="IOC.Interface.IHand,IOC.Interface" mapTo="IOC.Service.Hand, IOC.Service" />
      </container>
      <container name="container">
        <register type="IOC.Interface.IPeople,IOC.Interface" mapTo="IOC.Service.Extend.Teacher, IOC.Service.Extend" />
        <register type="IOC.Interface.IPeople,IOC.Interface" mapTo="IOC.Service.Extend.Student, IOC.Service.Extend" name="student" />
        <register type="IOC.Interface.ILeg,IOC.Interface" mapTo="IOC.Service.Extend.Leg, IOC.Service.Extend" />
        <register type="IOC.Interface.IHand,IOC.Interface" mapTo="IOC.Service.Extend.Hand, IOC.Service.Extend" />
      </container>
    </containers>
  </unity>
</configuration>